.h5,
.link4 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 115px;
}
.link4 {
  letter-spacing: 0.2px;
  min-width: 70px;
}
.link5 {
  min-width: 52px;
}
.link5,
.link6,
.link7 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.link6 {
  min-width: 97px;
  white-space: nowrap;
}
.link7 {
  min-width: 35px;
}
.col-md-2,
.div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  gap: var(--gap-3xs);
  font-size: var(--link-size);
  color: var(--second-text-color);
}
.col-md-2 {
  width: 148px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.h51 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 47px;
}
.col-md-21 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-36xl) 0 0;
  gap: var(--gap-xl);
}
.h52,
.link12,
.link13,
.link14 {
  position: relative;
  line-height: 24px;
}
.h52 {
  letter-spacing: 0.1px;
  display: inline-block;
  min-width: 74px;
}
.link12,
.link13,
.link14 {
  letter-spacing: 0.2px;
}
.link12 {
  white-space: nowrap;
}
.link13,
.link14 {
  display: inline-block;
  min-width: 101px;
}
.link14 {
  min-width: 71px;
}
.col-md-22 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  gap: var(--gap-xl);
}
.h53 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 88px;
}
.link16 {
  min-width: 102px;
}
.link16,
.link17,
.link18,
.link19 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.link17 {
  min-width: 106px;
  white-space: nowrap;
}
.link18,
.link19 {
  min-width: 81px;
}
.link19 {
  min-width: 27px;
}
.col-md-23 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 0 0;
  gap: var(--gap-xl);
}
.h54 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 107px;
}
.bxbx-phone-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.h67 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 109px;
}
.feature-item {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.bxbx-map-icon {
  height: 30px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.washington-ave-manchester {
  margin: 0;
}
.h68 {
  height: 48px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.feature-item1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.carbonsend-alt-icon {
  height: 26px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.col-md-4,
.div5 {
  flex-direction: column;
  justify-content: flex-start;
}
.div5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--link-size);
  color: var(--second-text-color);
}
.col-md-4 {
  flex: 1;
  padding: 0 var(--padding-12xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 209px;
}
.col-md-4,
.container3,
.div,
.row6 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.row6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-11xl);
}
.container3,
.div {
  box-sizing: border-box;
}
.container3 {
  width: 1050px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-4xs) var(--padding-31xl) 0;
}
.div {
  align-self: stretch;
  background-color: var(--light-background-color);
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-11xs);
  text-align: left;
  font-size: var(--h5-size);
  color: var(--text-color);
  font-family: var(--link);
}
@media screen and (max-width: 750px) {
  .div {
    gap: var(--gap-xl);
  }
}
