.brandname,
.link {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.brandname {
  letter-spacing: 0.1px;
  line-height: 32px;
  white-space: nowrap;
}
.link {
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 45px;
  flex-shrink: 0;
}
.a {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 61px;
  flex-shrink: 0;
}
.a1 {
  position: absolute;
  top: 0;
  left: 64px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link2 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 54px;
  flex-shrink: 0;
}
.a2 {
  position: absolute;
  top: 0;
  left: 144px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link3 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 60px;
  flex-shrink: 0;
}
.a3 {
  position: absolute;
  top: 0;
  left: 217px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation {
  margin: 0;
  align-self: stretch;
  height: 24px;
  position: relative;
  text-align: center;
  font-size: var(--link-size);
  color: var(--second-text-color);
  font-family: var(--link);
}
.navigation-container {
  margin: 0;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.brand-container,
.brand-wrapper,
.navigation-container {
  display: flex;
  align-items: flex-start;
}
.brand-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-60xl);
}
.brand-container {
  width: 503px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
}
.button-label {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 22px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 43px;
  flex-shrink: 0;
}
.a4,
.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.a4 {
  overflow: hidden;
  flex-direction: row;
}
.content-wrapper {
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
}
.building-superior-product {
  text-decoration: none;
  position: relative;
  font-size: var(--link-size);
  letter-spacing: 0.2px;
  line-height: 22px;
  font-weight: 700;
  font-family: var(--link);
  color: var(--light-background-color);
  text-align: left;
  display: inline-block;
  min-width: 61px;
  white-space: nowrap;
}
.icn-arrow-right-icn-xs {
  width: 12px;
  height: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.buttonbtnprimary-color,
.header-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtnprimary-color {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-6xl);
  background-color: var(--primary-text-color);
  border-radius: var(--br-8xs);
  overflow: hidden;
  gap: var(--gap-sm);
}
.header-content {
  width: 223px;
  gap: var(--gap-26xl);
  text-align: right;
  font-size: var(--link-size);
  color: var(--primary-text-color);
}
.header-container,
.header-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.header-wrapper {
  width: 966px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header-container {
  width: 1356px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--text-color);
  font-family: var(--link);
}
@media screen and (max-width: 750px) {
  .navigation-container {
    display: none;
  }
  .brand-wrapper {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .brand-wrapper {
    gap: var(--gap-xl);
  }
}
